# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.xcarchive
*.ipa
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/
Packages/*/.build/
Packages/*/.swiftpm/

# Scratch
build/

# Affinity lock files
*~lock~
